<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FONTS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- FONT AWESOME -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />

    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.min.css" />

    <title>Hellovit</title>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <nav class="main-nav navbar navbar-expand-lg">
        <a href="/"
          ><img class="logo" src="images/logo-white.png" alt="Hellovit Logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#main-nav-items"
          aria-controls="main-nav-items"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <span class="collapse navbar-collapse" id="main-nav-items">
          <div class="mr-0 mt-2 mt-lg-0">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a href="/shows" class="nav-link nav-item">Shows</a>
              </li>
              <li class="nav-item">
                <a href="/merch" class="nav-link nav-item">Merch</a>
              </li>
              <li class="nav-item">
                <a href="/artists" class="nav-link nav-item">Artists</a>
              </li>
              <li class="nav-item">
                <a href="/contact" class="nav-link nav-item">Contact</a>
              </li>
              <li class="nav-item">
                <a href="/about" class="nav-link nav-item">About</a>
              </li>
            </ul>
          </div>
        </span>
      </nav>
    </header>