/* GENERAL */

$main-font: 'Amatic SC';
$dark-color: #111;
$main-color: #a20021;
$text-color: #fff;
$highlight-color: #00a31c;

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 20px;
  color: $text-color;
}

/* HEADER */

.main-nav {
  padding: 0;
  background-color: $dark-color;
}

.logo > h1 {
  font-size: 5rem;
  margin: 0 1rem;
  padding: 0;
  color: $main-color;
  &:hover {
    color: $main-color;
  }
}

#main-nav-items {
  justify-content: right;
}

.nav-item {
  margin: 0;
  font-family: $main-font;
  font-size: 2rem;
  color: $text-color;
  padding: 1rem;
}

.nav-link:hover {
  color: $highlight-color;
  padding-bottom: 14px;
  border-bottom: 2px solid $highlight-color;
}

.fa-bars {
  color: $text-color;
}

/* HERO */

.hero {
  position: relative;
  height: 70vh;
  overflow: hidden;
  text-align: left;
}

.hero-text {
  position: absolute;
  z-index: 2;
  color: $text-color;
  top: 20%;
  left: 20%;
  right: 0%;
  font-size: 3.5rem;
}

p > .hero-btn {
  padding: 1rem 1.5rem;
}

/* CTA */

.call-to-action {
  position: relative;
  background-color: $dark-color;
  padding: 1rem;
  margin: 6rem auto;
}

.cta-div {
  width: 50%;
  margin: 3rem auto;
  text-align: center;
}

.cta-text {
  padding: 0;
}

.cta-paragraph {
  font-size: 2rem;
  padding: 0;
}

.email {
  margin-top: 2rem;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

.email-btn {
  margin-top: 1rem;
  background-color: $main-color;
  border: 1px solid $main-color;
  color: $text-color;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;

  &:hover {
    background-color: $dark-color;
    border: 1px solid $highlight-color;
    color: $highlight-color;
    transition: 0.3s ease-in-out;
  }
}

/* FORM */

.form {
  background-color: $dark-color;
  margin: 4.28rem auto;
  padding: 4rem 3rem;
  text-align: center;
  width: 60vw;
}

.contact-header {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.contact-text {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.contact-btn {
  padding: 1rem 2rem;
  margin: 0;
}

/* ABOUT */

.about {
  background-color: $dark-color;
  margin: 5rem auto;
  width: 60vw;
  text-align: center;
  padding: 4rem 3rem;
  text-align: center;
}

.about-header {
  font-size: 4rem;
  text-decoration: underline;
}

.about-container {
  text-align: left;
}

.about-subheader {
  font-size: 2rem;
  text-decoration: underline;
}

.about-image {
  border-radius: 100%;
  width: 20%;
  padding: 0.7rem 0;
}

.about-paragraph {
  font-family: sans-serif;
  padding: 0.5rem 0;
}

.nav-link.about-paypal {
  font-size: 5rem;
  color: $main-color;
  width: 15%;
  margin: 0.5rem auto;
  padding: 0;

  &:hover {
    border: none;
    padding: 0;
    color: $highlight-color;
  }
}

/* FOOTER */

footer {
  margin: 0;
  border: none;
  background-color: $dark-color;
  width: auto;
}

.footer-container {
  margin: 0 auto;
  text-align: center;
}

.social-media {
  font-size: 2rem;
  margin: 1rem 0.5rem;

  &:hover {
    color: $dark-color;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
  .form {
    width: 90vw;
  }

  .hero {
    text-align: center;
    height: auto;
  }

  .hero-text {
    top: 5%;
    left: 0;
    font-size: 2rem;
  }
}

@media screen and (max-width: 725px) {
  .hero {
    text-align: center;
    height: auto;
  }

  .hero-text {
    top: 5%;
    left: 0;
    font-size: 2rem;
  }
}

@media screen and (max-width: 545px) {
  .logo > h1 {
    font-size: 3rem;
  }

  .email {
    font-size: 20px;

    &:placeholder-shown {
      font-size: 20px;
    }
  }

  .call-to-action {
    padding: 0.1rem;
    margin: 3rem 0;
  }

  .hero-text {
    font-size: 1.5rem;
  }

  #hero-btn {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
}
