<%- include('partials/header') -%>
    <!-- ABOUT -->
    <section class="about">
      <h1 class="about-header">About Me</h1>
      <img src="images/mamaMia-resize.jpg" class="about-image" alt="Kill Me" />
      <div class="about-container">
        <h2 class="about-subheader">In the Beginning...</h2>
        <p class="about-paragraph">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
          fugiat odit, veritatis accusantium accusamus esse facilis animi fuga
          commodi, alias consequuntur? Deserunt quae incidunt, inventore dolores
          porro repellendus rem omnis at aliquid dignissimos similique odio
          sapiente expedita natus culpa id! Soluta voluptates nihil eveniet
          molestias fugiat facilis dicta voluptas facere eaque eligendi
          distinctio esse vero sapiente maiores dolor, explicabo molestiae
          debitis quod et delectus laboriosam. Similique iure, tempora doloribus
          repellendus aliquam, libero eius magni quia corrupti voluptatibus
          minus magnam doloremque?
        </p>
        <h2 class="about-subheader">Then what happened?</h2>
        <p class="about-paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
          eos odit, reiciendis doloremque, ratione architecto delectus adipisci
          eveniet amet alias, enim quos? Blanditiis, vel alias aut at eos
          voluptas corrupti odio, rerum quam error reprehenderit magni ducimus
          fugiat fuga doloremque!
        </p>
      </div>
      <p class="about-paragraph">Buy my mixtape.</p>
      <a class="btn email-btn" href="https://paypal.com">PayPal</a>
    </section>
<%- include('partials/footer') -%>