<%- include('partials/header') -%>
<!-- ABOUT -->
<section class="about">
  <h1 class="page-title">About</h1>
  <img src="images/about-me-img.png" class="about-image" alt="About Hellovit" />
  <p class="about-quote">
    "Without a song, the soul grieve in sad spirit." -Lailah Gifty Akita
  </p>
  <div class="about-container">
    <h2 class="about-subheader">Who is Hellovit?</h2>
    <p class="about-paragraph">
      He's determined, quick and eager. But there's more than meets the eye, not
      surprising for somebody with his ugly past. He was born and grew up in a
      lower class family in a poor community, he lived out of trouble until he
      was about 13 years old, but at that point things took a turn for the
      worst. He lost his parents in a fight which got out of control and was
      forsaken by all. Together with a pet he had to survive in a brutal world.
      But with his intrepidness and cunning, he managed to escape hell and
      remain out of reach of danger. This has turned him into the man he is
      today. With new found pride and some happiness, he now works as help for
      hire. By doing so, he hopes to leave the past behind and finally find
      pleasureful life he has never had.
    </p>
    <h2 class="about-subheader">Then what happened?</h2>
    <p class="about-paragraph">
      He became more important to society and was strengthening the
      relationships with friends. With amazing, new friends, he is on top of the
      world in a mad world. But with his sense of humor and eagerness, there's
      nothing to stop him from fulfilling all dreams. He could quickly become a
      great leader, perhaps even of the nation. But things could change quickly;
      he is currently searching for a higher purpose. He feels like there's more
      than meets the eye in this world. Luckily he has great companions to
      support him.
    </p>
  </div>
  <p class="about-paragraph">Buy my mixtape.</p>
  <a class="btn email-btn" href="https://paypal.com">PayPal</a>
</section>
<%- include('partials/footer') -%>
