<%- include('partials/header') -%>
<!-- ARTISTS -->
<div class="card-deck-container">
  <h1 class="page-title">Artists</h1>
  <div class="row artists-row">
    <div class="card artists-card col-lg shadow-sm">
      <a href="https://en.wikipedia.org/wiki/Bob_ross" target="_blank">
        <img class="card-img-top" src="images/bob-ross.jpeg" alt="Bob Ross" />
        <div class="card-body">
          <h5 class="card-title">Bob Ross</h5>
          <p class="card-text">
            Robert Norman Ross was an American painter, art instructor and
            television host. He was the creator and host of The Joy of Painting,
            an instructional television program that aired from 1983 to 1994 on
            PBS in the United States and in Canada, Latin America and Europe.
            Ross subsequently became widely known via his internet presence.
          </p>
        </div>
      </a>
    </div>
    <div class="card artists-card col-lg shadow-sm">
      <a href="https://en.wikipedia.org/wiki/Leonardo_da_Vinci" target="_blank">
        <img
          class="card-img-top"
          src="images/da-vinci.jpeg"
          alt="Leonardo Da Vinci"
        />
        <div class="card-body">
          <h5 class="card-title">Leonardo Da Vinci</h5>
          <p class="card-text">
            Leonardo da Vinci was an Italian polymath of the High Renaissance
            who is widely considered one of the most diversely talented
            individuals ever to have lived. Leonardo is widely considered one of
            the greatest painters of all time. Mona Lisa is the most famous of
            his works and the most famous portrait ever made.
          </p>
        </div>
      </a>
    </div>
    <div class="card artists-card col-lg shadow-sm">
      <a
        href="https://en.wikipedia.org/wiki/%22Weird_Al%22_Yankovic"
        target="_blank"
      >
        <img
          class="card-img-top"
          src="images/weirdAl.jpeg"
          alt="'Weird Al' Yankovic"
        />
        <div class="card-body">
          <h5 class="card-title">"Weird Al" Yankovic</h5>
          <p class="card-text">
            Alfred Matthew "Weird Al" Yankovic is an American musician, record
            producer, actor, and author who is known for humorous songs that
            make light of pop culture and often parody specific songs by
            contemporary musical acts. He also performs original songs that are
            style pastiches of the work of other acts, as well as polka medleys
            of several popular songs, most of which feature his trademark
            accordion.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="row artists-row">
    <div class="card artists-card col-lg shadow-sm">
      <a
        href="https://en.wikipedia.org/wiki/Miniature_Schnauzer"
        target="_blank"
      >
        <img class="card-img-top" src="images/merlin.jpg" alt="Merlin" />
        <div class="card-body">
          <h5 class="card-title">Merlin</h5>
          <p class="card-text">
            The Miniature Schnauzer is a breed of small dog of the Schnauzer
            type that originated in Germany in the mid-to-late 19th century.
            Miniature Schnauzers may have been developed from the smallest
            specimens of the Standard Schnauzer, or crosses between the Standard
            and one or more smaller breeds such as the Affenpinscher, Miniature
            Pinscher, and Poodles, as farmers bred a small dog that was an
            efficient ratting dog. They are described as "spunky" but aloof
            dogs, with good guarding tendencies without some guard dogs'
            predisposition to bite.
          </p>
        </div>
      </a>
    </div>
    <div class="card artists-card col-lg shadow-sm">
      <a
        href="https://en.wikipedia.org/wiki/Person_of_the_Year"
        target="_blank"
      >
        <img class="card-img-top" src="images/you.jpg" alt="Literally You" />
        <div class="card-body">
          <h5 class="card-title">You - The Reader</h5>
          <p class="card-text">
            Someone who truly likes and respects themselves and the people
            around them. Cool is being unique in your way. It’s knowing the
            difference between right and wrong. And when you make a mistake,
            have the courage to admit to it. Anybody who is cool is also
            interesting and fun to be around. They are very open, real, honest
            and loyal to the core. They don’t care what anyone thinks of them
            and have 0 care for their reputation.
          </p>
        </div>
      </a>
    </div>
    <div class="card artists-card col-lg shadow-sm">
      <a href="/about">
        <img
          class="card-img-top"
          src="images/about-me-img.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Hellovit</h5>
          <p class="card-text">
            Brown, sleek hair is pulled back to reveal a furrowed, wild face.
            Big, round red eyes, set buried within their sockets, watch
            thoughtfully over the people they've barely related to for so long.
            Scars reaching from the bottom of the left cheek , running towards
            the left side of his lips and ending on his upper lip leaves an
            aching burden of defended honor. This is the face of Hellovit, a
            true genius among wood elves. He stands high among others, despite
            his athletic frame.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
