<%- include('partials/header') -%>
<!-- ARTISTS -->
<div class="card-deck-container">
  <h1 class="page-title">Artists</h1>
  <div class="row">
    <div class="card artists-card col-lg shadow-sm">
      <img
        class="card-img-top"
        src="images/weirdAl.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Lorem, ipsum.</h5>
        <p class="card-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis
          culpa odio qui labore fugit repellendus at ipsam ad sequi assumenda.
        </p>
      </div>
    </div>
    <div class="card artists-card col-lg shadow-sm">
      <img
        class="card-img-top"
        src="images/nostradamus.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Lorem, ipsum.</h5>
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum at eum
          quibusdam similique delectus mollitia.
        </p>
      </div>
    </div>
    <div class="card artists-card col-lg shadow-sm">
      <img class="card-img-top" src="images/alf.jpeg" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Lorem, ipsum.</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eligendi
          asperiores itaque repellendus dolorum officiis fugit corrupti ex.
          Perspiciatis ad unde vitae officiis, doloribus vero?
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card artists-card col-lg shadow-sm">
      <img class="card-img-top" src="images/monkey.jpeg" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Lorem, ipsum.</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          adipisci reiciendis numquam dignissimos eaque dolorum natus iure, aut
          aliquam nesciunt.
        </p>
      </div>
    </div>
    <div class="card artists-card col-lg shadow-sm">
      <img
        class="card-img-top"
        src="images/muscleStitch.jpeg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Lorem, ipsum.</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi
          consequatur unde dignissimos reprehenderit repudiandae ducimus
          blanditiis cumque adipisci minima ullam, deserunt, ad recusandae fuga
          doloremque.
        </p>
      </div>
    </div>
    <div class="card artists-card col-lg shadow-sm">
      <img class="card-img-top" src="images/yoda.jpeg" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Lorem, ipsum.</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
          eligendi illo vero sequi in repellendus distinctio sapiente quam eius
          dolore!
        </p>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
