<%- include('partials/header') -%>
<!-- FORM -->
<section class="form">
  <h1 class="page-title">Contact</h1>
  <form action="/form" method="POST" class="contact-form">
    <div class="form-row">
      <div class="col-sm-6">
        <input
          name="name"
          type="text"
          class="form-control contact-text"
          placeholder="Your Name"
        />
      </div>
      <div class="col-sm-6">
        <input
          name="email"
          type="text"
          class="form-control contact-text"
          placeholder="Your E-Mail"
        />
      </div>
      <div class="form-group col form-box">
        <textarea
          name="message"
          class="form-control contact-text"
          id="textarea"
          rows="6"
          placeholder="Your Message"
        ></textarea>
      </div>
    </div>
    <input
      type="submit"
      id="email-submit"
      class="btn email-btn contact-btn"
      value="Submit"
    />
  </form>
</section>
<%- include('partials/footer') -%>
