<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- FONT AWESOME -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />

    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.min.css" />
    <title>Success!</title>
  </head>
  <body>
    <div id="success-jumbotron" class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Message Sent!</h1>
        <p class="lead">
          You successfully sent a message to Hellovit, he'll check it as soon as
          he can. If you have any issues and want to contact him directly,
          please e-mail him at
          <span class="success-span">hellovitplaceholder@gmail.com</span>
        </p>
        <br />
        <p class="lead">Click <a href="/">here</a> to head back to front page.</p>
      </div>
    </div>
  </body>
</html>
