<%- include('partials/header') -%>
<!-- SHOWS -->
<div class="container shows-container">
  <table>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th>Time</th>
      <th colspan="2">Location</th>
    </tr>
    <tr>
      <td>
        <a href="https://www.ticketmaster.com/" target="_blank">Kick-Ass Bar</a>
      </td>
      <td>10/15/20</td>
      <td>8:00pm</td>
      <td colspan="2">Via Varese 33/31, Roma, IT 00185</td>
    </tr>
    <tr>
      <td>
        <a href="https://www.ticketmaster.com/" target="_blank">Japan Time</a>
      </td>
      <td>11/15/20</td>
      <td>9:00pm</td>
      <td colspan="2">3-2-13, , JP 510-0218</td>
    </tr>
    <tr>
      <td>
        <a href="https://www.ticketmaster.com/" target="_blank">Cool Place</a>
      </td>
      <td>12/15/20</td>
      <td>10:00pm</td>
      <td colspan="2">170 Finchley Road, London, NW3 6BP, England</td>
    </tr>
    <tr>
      <td>
        <a href="https://www.ticketmaster.com/" target="_blank">Rap Shack</a>
      </td>
      <td>01/15/21</td>
      <td>11:00pm</td>
      <td colspan="2">Rynek 11, 42-289 Woźniki, Poland</td>
    </tr>
    <tr>
      <td>
        <a href="https://www.ticketmaster.com/" target="_blank">My House</a>
      </td>
      <td>02/15/21</td>
      <td>12:00am</td>
      <td colspan="2">Berg 20, 5302 Henndorf am Wallersee, Austria</td>
    </tr>
    <tr>
      <td>
        <a href="https://www.ticketmaster.com/" target="_blank">Literal Hell</a>
      </td>
      <td>03/15/21</td>
      <td>1:00am</td>
      <td colspan="2">Citadella setany 1, Gellerthegy, Budapest, HU 1118</td>
    </tr>
  </table>
</div>
<%- include('partials/footer') -%>
