/* GENERAL */

$main-font: 'Amatic SC';
$dark-color: #222;
$main-color: #a20021;
$text-color: #fff;
$highlight-color: #00a31c;

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 20px;
  color: $text-color;
}

.btn:focus {
  box-shadow: none;
}

.container {
  flex: 1 0 auto;
}

p {
  margin-bottom: 0.5rem;
}

.section-header {
  font-family: $main-font;
  font-size: 3.5rem;
  color: $dark-color;
  text-align: center;
  margin-bottom: 2.5rem;
  text-decoration: underline;
}

.page-title {
  font-family: $main-font;
  color: $dark-color;
  text-align: center;
  font-size: 4rem;
  margin: 1rem;
  padding-bottom: 1rem;
  text-decoration: underline;
}

/* HEADER */

.header {
  position: relative;
  z-index: 3;
}

.main-nav {
  padding: 0;
  background-color: $dark-color;
}

.logo {
  margin-left: 2rem;
}

#main-nav-items {
  justify-content: flex-end;
}

.nav-item {
  margin: 0;
  font-family: $main-font;
  font-size: 2rem;
  color: $text-color;
  padding: 1rem;
}

.nav-link:hover {
  color: $highlight-color;
  padding-bottom: 14px;
  border-bottom: 2px solid $highlight-color;
}

.fa-bars {
  color: $text-color;
}

/* HERO */

.hero {
  position: relative;
}

.hero-images {
  height: 70vh;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  z-index: 2;
  text-align: center;
  margin: 0;
  padding: 0;
  top: 25%;
  left: 0;
  right: 0;
}

.email-btn.hero-btn {
  font-size: 1.5rem;
}

/* CTA */

.call-to-action {
  position: relative;
  color: $dark-color;
  padding: 1rem 1rem 12rem 1rem;
  margin: 6rem auto;
}

.cta-div {
  width: 50%;
  margin: 3rem auto;
  text-align: center;
}

.cta-text {
  padding: 0;
}

.cta-paragraph {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

.email {
  border: 2px solid $dark-color;
  margin-top: 2rem;
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

.email-btn {
  margin-top: 1rem;
  border: 2px solid $dark-color;
  background-color: yellowgreen;
  color: $text-color;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: $dark-color;

  &:hover {
    background-color: $dark-color;
    border: 2px solid $highlight-color;
    color: $highlight-color;
    transition: 0.3s ease-in-out;
  }
}

input#email {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  &:focus {
    border-color: $highlight-color;
    box-shadow: 1px 2px $dark-color;
  }
}

/* SHOWS */

.shows-container {
  color: $dark-color;
  font-family: 'Roboto', sans-serif;
  margin: 4rem auto;
}

table {
  width: 100%;
}

th {
  text-decoration: underline;
}

tr {
  border: 1px solid $dark-color;
  text-align: center;
}

/* STORE */

.store-container {
  margin-top: 4rem;
}

.cart-section {
  font-family: 'Roboto', sans-serif;
  padding: 0 0 8rem 0;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-items {
  box-sizing: border-box;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;

  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-quantity-input {
  width: 50%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
  color: $dark-color;
}

.btn-purchase {
  display: block;
  margin: 2rem auto;
}

/* ARTISTS */

.card-deck-container {
  padding: 0 4rem 12rem 4rem;
  margin: 4rem auto;
}

.card-deck {
  margin: 2rem 1rem;
  color: $dark-color;
  font-family: 'Roboto', sans-serif;
}

.card {
  color: $dark-color;
  font-family: 'Roboto', sans-serif;
  margin: 0.5rem;
}

.artists-card {
  padding: 0;
}

.card-img-top {
  width: 150px;
  height: 150px;
  margin: 1rem auto;
  border: 5px solid $dark-color;
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

/* FORM */

.form {
  color: $dark-color;
  margin: 4rem auto;
  margin-bottom: 5rem;
  padding: 0 3rem 4rem 3rem;
  text-align: center;
  width: 60vw;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid $dark-color;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  &:focus {
    border-color: $highlight-color;
    box-shadow: 1px 2px $dark-color;
  }
}

.contact-text {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.contact-btn {
  display: block;
  margin: 0 auto;
}

/* ABOUT */

.about {
  color: $dark-color;
  margin: 4rem auto;
  width: 60vw;
  text-align: center;
  padding: 0 3rem 12rem 3rem;
  text-align: center;
}

.about-container {
  text-align: left;
}

.about-subheader {
  font-size: 3rem;
  padding-top: 1.5rem;
}

.about-image {
  border-radius: 100%;
  width: 30%;
  padding: 0.7rem 0;
}

.about-paragraph {
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem 0;
}

/* SUCCESS */

#success-jumbotron {
  background-color: $dark-color;
  .lead {
    font-family: 'Roboto', sans-serif;
    a {
      color: $highlight-color
    }
  }
  .success-span {
    color: $highlight-color;
  }
}

/* FOOTER */

footer {
  border: none;
  background-color: $dark-color;
  width: 100%;
}

.footer-container {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.social-media {
  font-size: 2rem;
  margin: 1rem 0.5rem;
  color: $text-color;

  &:hover {
    color: $highlight-color;
    text-decoration: none;
  }
}

/* MEDIA QUERIES */

@media screen and (max-height: 540px) {
  .hero-images {
    height: 100%;
  }

  .album-img {
    width: 200px;
    height: 200px;
  }

  .hero-text {
    top: 20%;
  }

  .social-media {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  .footer-h3 {
    font-size: 1.5rem;
  }

  .shows-container {
    margin: 2rem auto;
  }

  .store-container {
    margin-top: 2rem;
  }

  .card-deck-container {
    margin: 0 auto;
  }

  .form {
    margin: 2rem auto;
  }

  .about {
    margin: 2rem auto;
  }

  .cart-row {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .main-nav {
    padding: 0.5rem 0;
  }

  .form {
    width: 90vw;
  }

  .about-image {
    width: 50%;
  }

  .shows-container {
    font-size: 0.8rem;
    padding: 0;
  }

  td {
    padding: 0 0.5rem;
  }
}

@media screen and (max-width: 725px) {
  .about {
    width: 100%;
  }

  .card-deck-container {
    padding: 2rem;
  }

  .cart-column {
    margin-right: 5px;
  }

  .cart-header {
    font-size: 1rem;
  }

  .cart-item-title {
    font-size: 1rem;
  }

  .cart-quantity-input {
    width: 45%;
  }

  .btn-remove {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 545px) {
  .email {
    font-size: 20px;

    &:placeholder-shown {
      font-size: 20px;
    }
  }

  .call-to-action {
    padding: 0.1rem;
    margin: 3rem 0;
  }

  .cta-paragraph {
    font-size: 1.2rem;
  }

  .form {
    width: 100%;
  }

  .logo {
    width: 100px;
    margin-left: 0.2rem;
  }

  .hero-text {
    text-align: center;
    margin: 0;
    padding: 0;
    top: 15%;
    left: 0;
    right: 0;
  }

  .social-media {
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  .footer-h3 {
    font-size: 1.5rem;
  }

  .shows-container {
    margin: 2rem auto;
  }

  .store-container {
    margin-top: 2rem;
  }

  .card-deck-container {
    margin: 0 auto;
  }

  .form {
    margin: 2rem auto;
  }

  .about {
    margin: 2rem auto;
  }

  .cart-row {
    padding: 0.5rem;
  }
}
